.health{
    min-height: 590px;
    text-align: center;
    padding: 45px 0;
    color: #fff;
    background:#ccc url(../../images/bg-food-health_full.jpg) center/cover no-repeat;
    background-attachment: fixed ;
    .title{
        margin-bottom: 15px;
    }
    
    .title__header{
        
    }
    
    .title__text{
        
    } 

       
}




