.hero{
    padding: 45px 0;
    min-height: 590px;
    text-align: center;
    color: #fff;
    background:#ccc url(../images/bg-food-sport_full.jpg)  center/cover no-repeat;
    background-attachment: fixed ;
    
    &__about{
        
    }
    
    &__title{
       
    }
    .button--text-uppercase{
        text-transform: uppercase;
    }
    
}