.offer{
    &__list{
        width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        margin:0;
        padding: 0;
        &--none-centered{
            justify-content: flex-start;
        }
        
    }
    &__item{
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
        align-items: top;
        padding-bottom: 30px;
    }
    &__item-background{
        position: absolute;
        left: 0px;
        top: 0;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0,0,0,.5);
        opacity: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    &__item-description{
        font-family: "Roboto Condensed",sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -12px;
        text-align: center;
        left: 0;
        right: 0;
        &--header{
            color: #fff;
            text-align: center;
            font-weight: 300;
            display: block;
            margin-top: 45px;    
        }
        &--body{
            color: #fff;
            font-size: 24px;
            text-align: center;
            display: block;
            font-family: "Roboto Condensed",sans-serif;
            font-weight: 700;
        }
        &--price{
            color: #fff;
            bottom: 20px;
            display: block;
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            .price-offer{
                margin-left: 5px;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                font-weight: 700;
                font-size: 24px;
                .price-offer--small{
                    font-weight: 400;
                    font-size: 14px;
                } 
            }
            .icon{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    &__picture{
        max-width: 100%;    
    }
    &__item-container{
       position: relative;
        &:hover{
            cursor: pointer;
            .button--red{
                background: lighten(#f00201,20%);
            }
            .button--green{
                background: lighten(#58a543,20%);
            }
            .offer__item-background{
                opacity:1;
            }
        } 
    }
    
    &__image{
        position: relative;
       
        margin-bottom: 15px;
    }
      
}  
