.promo{
    padding: 30px 0;
    background:#ccc url(../images/bg-food-dark.jpg) center/cover no-repeat;
    &__name{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__info{
        color: #fff;
        margin-bottom: 15px;
    }
    .button{
        margin-top: 30px;    
    }
}
.container-xs{
    text-align: center;
}
