.button{
    display: inline-block;
    border-radius:26px;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    transition: .3s;
    font-size: 16px;

    &--long{
        display: block;
    }
    
    &--red{
        background: #f00201;
        
        &:hover {
            background: lighten(#f00201,20%);
        }
    }
    &--green{
        background: #58a543;
        
        &:hover {
            background: lighten(#58a543,20%);
        }
    }
    
    &--yellow{
        background: #f8cd53;
    
        &:hover{
            background: lighten(#f8cd53,7%);
        } 
    }
    
    &--text-uppercase{
        text-transform: uppercase;
    } 
}
