.icon{
    margin: auto auto;
    width: 100px;
    height: 100%;
}

.icon-burger{
    @include sprite($burger);
}

.icon-flower{
    @include sprite($flower);
}

.icon-car{
    @include sprite($car);
}

.icon-dish{
    @include sprite($dish);
}
.icon-dumbell{
    @include sprite($dumbell);
}
.icon-nose{
    @include sprite($nose);
}
.icon-stomach{
    @include sprite($stomach);
}
.icon-arm{
    @include sprite($arm);
}
.icon-women{
    @include sprite($women);
}
.icon-heart{
    @include sprite($heart);
}
.icon-clock{
    @include sprite($clock);
}
.icon-ironchief-white{
    @include sprite($ironchef-white);
}
.icon-phone{
    @include sprite($phone);
}
.icon-mail{
    @include sprite($mail);
}
.icon-label{
    @include sprite($label);
}
.icon-bread{
    @include sprite($bread);
}
.icon-leg{
    @include sprite($leg);
}
.icon-pot{
    @include sprite($pot);
}
.icon-dish-white{
    @include sprite($dish-white);
}
.icon-male{
    @include sprite($male);
}
.icon-female{
    @include sprite($female);
}
.icon-recommend{
    @include sprite($recommend);
}
