.modal{
    &-content {
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        border: 0;
        border-radius: 0;
    }
    &-title{
        font-family: "Roboto Condensed",sans-serif;
        line-height: 1.2;
        font-weight: 800;
        font-style: italic;
        color: #fff;
        font-size: 30px;
        text-align: left;
    }
    &-header{    
        margin: 0;
        padding: 20px 40px;
        background-color: #333;
        border-bottom: 0 none;
    }
    &-backdrop {
        background-color:#fff;
        &.show { opacity: .9; }
    }
    &-body{
        padding: 20px 40px;
        text-align: center;
        .button{
            margin: 0 auto;
        }
    }
    &-container{
//        padding-bottom: 20px;
        &__element{
            line-height: 1;    
            margin-bottom: 15px; 
        }
    }
    &-close{
        position: absolute;
        right: 20px;
        top: 21px;
        border: 0;
        background-color: transparent; 
        margin-left: auto;
        margin-right: 0;
        padding: 0;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        opacity: .75;
        transition: opacity .15s linear;
        display: block;
        &:hover {
            opacity: 1;
        }
    }
    
}
.input{
    &__label{
        text-align: left;
        font-size: 14px;
        color: #666;
        font-weight: 700;
        margin-bottom: 5px;
        display: block;
        i{
            color:#e00201;
            margin-right: 5px;
            font-style: 14px;
            font-weight: 700;
        }    
    }
    &__texted{
        height: 45px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
        display: block;
        padding: 10px 16px;
        width: 100%;
        transition: all .2s ease;
        box-shadow: none;
        border-radius: 4px;
        &--textarea {
            height: 165px;
            width: 420px;
            padding-bottom: 0px;
        }
    }
}


