extends sections/layout
block title 
    title Iron Chief
block main
    section.header
        include sections/header
    include sections/about
    include sections/aboutUs
    include sections/hero
    include sections/individual-programm
    include sections/health
    include sections/promo
    include sections/goods
    include sections/work
