extends sections/layout
block title
    title kak eto rabotaet
block main
    section.header--dynamic
        include sections/header
    section.container-md
        .breadcrumb__container
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link(href="#",title="главная") Главная 
                li.breadcrumb__divider ●  
                li.breadcrumb__item
                    span.breadcrumb__link.breadcrumb__link--none Как это работает
    section.container-sm
        h1.title.title__content-section Как это работает
        .textarea 
            p
                |   Заказать рацион у 
                strong  Ironchef 
                |   легко и просто. Всего три шага до идеального питания без забот!
        .editable-part 
            h2 
                i.number.number-circle 1
                |Выберите рацион или блюдо   
            p Выберите свой рацион с нужной калорийностью, или наши специалисты составят вам индивидуальную программу питания с учетом ваших пожеланий, особенностей, целей и образа жизни, и мы будем доставлять вам еду в удобное для вас время. В меню подобраны блюда с учётом энергетической ценности, правильного соотношения белков, жиров, углеводов и необходимых нутриентов.
            p Благодаря механизму обратной связи Вы можете получить бесплатную консультацию диетолога и скорректировать свой рацион питания, с понедельника по пятницу с 09:00 до 18:00.
        .editable-part 
            h2 
                i.number.number-circle 2
                |Согласуйте заказ с нашим оператором  
            p 
                | Вы оставили заявку на нашем сайте или позвонили по телефону +7 (495) 123-45-67.
                br
                | С вами свяжется наш оператор. Что вы будете обсуждать?
            ol 
                li
                    p 
                        strong Если вы уже выбрали рацион
                        br
                        |Мы уточним, все ли продукты рациона вам подходят. Если вы не любите какой-либо продукт или у вас на него аллергия, мы обсудим корректировку рациона.    
                    p 
                        strong Если вы не знаете, какой рацион вам подойдет
                        br 
                        |Наш диетолог даст вам бесплатную консультацию и поможет определиться.
                li  
                    p Мы согласуем период, в течение которого вы хотите получать рацион.
                li
                    p Мы согласуем сроки и формы доставки и оплаты.
        .editable-part
            h2 
                i.number.number-circle 3
                |Ваша еда уже в пути!
            p Мы доставим вам выбранный рацион в любое удобное для вас время 24 часа в сутки.
                |Доставка осуществляется каждый день. Мы привезем вам полный набор готовых блюд на день, и вам 
                |останется только разогреть их и съесть.
            p Изменить адрес и график доставки можно по телефону +7 (495) 123-45-67.Изменения вступают в силу на следующий день после обращения.
    section.promo.promo--adv
        .container-sm
            .promo__inner 
                ul.work__list
                    li.work__item
                        .work__text-container
                            h3.work__header Доставка по Москве бесплатно!
                    li.work__item
                        .work__text-container
                            h3.work__header 24 часа в сутки
                    li.work__item
                        .work__text-container
                            h3.work__header Осталось только разогреть!
            a.button.button--red.button--text-uppercase(href="../obchee-menu.html") заказать пробный рацион
    section.goods    
        .container-sm
            .goods__inner
                .goods__text    
                    span.goods__name Что я получу, питаясь у IRONCHEF?
                ul.goods__list
                    li.goods__item
                        .goods__icon-container
                            .icon.icon-arm
                        .goods__text-container
                            h3.goods__header Спортивный результат
                            p.goods__description  Ваши тренировки принесут именно те плоды, на которые вы рассчитываете
                    li.goods__item
                        .goods__icon-container
                            .icon.icon-women
                        .goods__text-container
                            h3.goods__header Идеальная фигура
                            p.goods__description  Ваше тело с каждм днем будет приближаться к своей лучшей форме 
                    li.goods__item
                        .goods__icon-container
                            .icon.icon-heart
                        .goods__text-container
                            h3.goods__header Бодрость и здоровье
                            p.goods__description  Мы — то, что мы едим. Питаясь здоровой пищей, вы станете сильнее, бодрее и активнее.
                    li.goods__item
                        .goods__icon-container
                            .icon.icon-clock
                        .goods__text-container
                            h3.goods__header Свобода
                            p.goods__description  Не нужно искать рецепты, ходить по магазинам, считать калории, готовить еду — все уже готово.          
            a.button.button--green.button--text-uppercase(href="#") Получить консультацию диетолога