extends sections/layout
block title
    title Мясо для спортсмена
    
block main
    section.header--dynamic
            include sections/header            
    section.container-md
        .breadcrumb__container
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link(href="index.html",title="главная") Главная 
                li.breadcrumb__divider ●
                 li.breadcrumb__item
                    a.breadcrumb__link(href="blog.html",title="Блог") Блог 
                li.breadcrumb__divider ●
                li.breadcrumb__item
                    span.breadcrumb__link.breadcrumb__link--none Мясо для спортсмена
    section
        .container-md
            .content    
                .content__aside
                    .aside__item
                        h1.aside__item-arrow Записки Стального Шефа
                        br
                        p Все, что вы хотели знать о спортивном и здоровом питании и даже больше...
                    .aside__item
                        .nav-aside-header
                            p темы 
                        ul.nav-aside
                            li.nav-aside__item
                                a(href="myaso-dlya-sportsmena.html") Мясо для спортсмена
                            li.nav-aside__item
                                a(href="sportivnoe-pitanie.html") Спортивное питание               
                .content__main-content
                    .content__main-content--header
                        h1.title.title__content-section Мясо для спортсмена
                        p.promo__info.promo__info--colored 
                            |   Всем привет! Меня зовут Стальной шеф (также я известен как 
                            b   Ironchef
                            | ). Я много путешествовал по миру в поисках лучших продуктов и лучших знаний. В моем дневнике я готов поделиться с вами — ха! — некоторыми секретами своей кухни.
                    .content__main-content--body
                        .main-content__item
                            a(href="#").main-content__item-link
                                img.main-content__item-img(src="images/food-item.jpg" alt="picture")
                                span.main-content__item-hover 
                            p.main-content__item-title
                                a(href="#") Можно ли при занятиях спортом позволять себе печеньки?    
                            p.editable-part Правильный ответ — нет! И не надо канючить. Печеньки - это вселенское зло, которым заманивает вас темная сторона. А сама темная сторона не ест печеньки - именно поэтому зло так привлекательно!
                            .main-content__item-tag
                                i.fa.fa-tag
                                a(href="#").tag.tag-bordered Спортивное питание
                                |   ,
                                a(href="myaso-dlya-sportsmena.html").tag.tag-bordered Мясо для спортсмена
                        .main-content__item
                            a(href="sportivnoe-pitanie.html").main-content__item-link
                                img.main-content__item-img(src="images/food-item.jpg" alt="picture")
                                span.main-content__item-hover 
                            p.main-content__item-title
                                a(href="#") Можно ли при занятиях спортом позволять себе печеньки?    
                            p.editable-part Правильный ответ — нет! И не надо канючить. Печеньки - это вселенское зло, которым заманивает вас темная сторона. А сама темная сторона не ест печеньки - именно поэтому зло так привлекательно!
                            .main-content__item-tag
                                i.fa.fa-tag
                                a(href="sportivnoe-pitanie.html").tag.tag-bordered Спортивное питание
                                |   ,
                                a(href="myaso-dlya-sportsmena.html").tag.tag-bordered Мясо для спортсмена
                        .main-content__item
                            a(href="#").main-content__item-link
                                img.main-content__item-img(src="images/food-item.jpg" alt="picture")
                                span.main-content__item-hover 
                            p.main-content__item-title
                                a(href="#") Можно ли при занятиях спортом позволять себе печеньки?    
                            p.editable-part Правильный ответ — нет! И не надо канючить. Печеньки - это вселенское зло, которым заманивает вас темная сторона. А сама темная сторона не ест печеньки - именно поэтому зло так привлекательно!
                            .main-content__item-tag
                                i.fa.fa-tag
                                a(href="sportivnoe-pitanie.html").tag.tag-bordered Спортивное питание
                                |   ,
                                a(href="myaso-dlya-sportsmena.html").tag.tag-bordered Мясо для спортсмена
    section.promo.promo--adv-simple
        .container-sm
            .textarea
                p 
                    |   Стальной шеф уже подобрал вам 
                    strong   идеальные рационы питания
                    br
                    |   для достижения любой цели — будь то спортивная форма
                    br
                    |   или хорошее самочувствие, здоровье и красота.
        .container-md    
            ul.offer__list
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description [4000ккал]  
                            img.offer__picture(src='images/man3.jpg' alt='picture')  
                        .button.button--red.button--text-uppercase.button--long(href="stalnoi-kachok.html") cтальной качок
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description [4000ккал]
                            img.offer__picture(src="images/man1.jpg" alt="picture")   
                        .button.button--red.button--text-uppercase.button--long(href="gora-myuhc.html") гора мыщц
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description [4000ккал]
                            img.offer__picture(src="images/man2.jpg" alt="picture")   
                        .button.button--red.button--text-uppercase.button--long(href="relief.html") рельеф
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description [4000ккал] 
                            img.offer__picture(src="images/woman1.jpg" alt="picture")   
                        .button.button--red.button--text-uppercase.button--long(href="super-suhka.html") супер сушка
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description [4000ккал] 
                            img.offer__picture(src="images/woman2.jpg" alt="picture")    
                        .button.button--red.button--text-uppercase.button--long(href="telo-mechty.html") тело мечты
        .container-sm
            .textarea
                p 
                    |   Не нужно считать калории, бегать по магазинам, готовить еду.
                    br
                    |   Осталось только выбрать!                     