extends sections/layout
block title
    title o  nas
block main
    section.header--dynamic
        include sections/header
    section.container-md
        .breadcrumb__container
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link(href="#",title="главная") Главная 
                li.breadcrumb__divider ●  
                li.breadcrumb__item
                    span.breadcrumb__link.breadcrumb__link--none О нас
    section.container-sm
        h1.title.title__content-section О нас
    section.container-sm
        .textarea
            p   Всем привет! Меня зовут Стальной шеф (также я известен как Ironchef). Я много путешествовал по миру в поисках лучших продуктов и лучших знаний.
        .textarea
            p Все началось с того, что я мечтал быть сильнее и быстрее других, но тренировки не давали нужных результатов. И я задумался: почему? Я отправился в кругосветное путешествие: медитировал в ашрамах, сражался с шаолиньскими монахами, уничтожил популяцию драконов в Средиземье, но так и не нашел ответа. Я практически отчаялся, когда встретил одну бабульку в стамбульском порту, и она сказала, что...
    section.container-xs
        .editable-part
            h2 ...“Ты — это то, что ты ешь”.
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.

            p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.

            p Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой.
    section.container-xs
        .editable-part
            h2 Наша философия
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
            
            p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Вскоре ему повстречался коварный составитель    
    section.promo.promo--adv-5
        .container-sm
            .promo__inner
                .promo__text    
                    span.promo__name IRONCHEF
                    p.promo__info  
                        |   Не нужно считать калории, бегать по магазинам, готовить еду 
                        br
                        |   Осталось только выбрать!
            a.button.button--red.button--text-uppercase(href="../obchee-menu.html") смотреть меню