extends sections/layout
block title
    title Obchee menu
block main
    section.header--dynamic
        include sections/header    
    section.container-md
        .breadcrumb__container
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link(href="#",title="главная") Главная 
                li.breadcrumb__divider ●  
                li.breadcrumb__item
                    span.breadcrumb__link.breadcrumb__link--none Общее меню
    section.container-sm
        h1.title.title__content-section Общее меню
    section.border-top
        .container-sm
            .editable-part.editable-part--left-icon
                .icon.icon-bread
                h2 Завтрак
                p Завтрак — самый важный приём пищи, но им многие пренебрегают из-за недостатка времени или отсутствия аппетита. С нашими ароматными и красивыми завтраками у вас не будет проблем с аппетитом, а вместо готовки можно заняться утренней зарядкой.
        .container-md 
            ul.offer__list.offer__list--none-centered
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 100ккал 
                                span.offer__item-description--body Омлет обыкновенный
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   100  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food3.jpg" alt="picture")
                li.offer__item
                    .offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 180ккал 
                                span.offer__item-description--body Омлет с лососем и мясом
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   300  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food4.jpg" alt="picture")
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 180ккал 
                                span.offer__item-description--body Омлет с лососем и мясом
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   280  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food2.jpg" alt="picture")
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                               span.offer__item-description--header 300ккал 
                                span.offer__item-description--body Омлет с мясом и красной икрой
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   300  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food1.jpg" alt="picture")             
    section.border-top
        .container-sm
            .editable-part.editable-part--left-icon
                .icon.icon-pot
                h2 Обед
                p Завтрак — самый важный приём пищи, но им многие пренебрегают из-за недостатка времени или отсутствия аппетита. С нашими ароматными и красивыми завтраками у вас не будет проблем с аппетитом, а вместо готовки можно заняться утренней зарядкой.
        .container-md 
            ul.offer__list.offer__list--none-centered
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 100ккал 
                                span.offer__item-description--body Омлет обыкновенный
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   100  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food3.jpg" alt="picture")
                li.offer__item
                    .offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 180ккал 
                                span.offer__item-description--body Омлет с лососем и мясом
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   300  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food4.jpg" alt="picture")
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 180ккал 
                                span.offer__item-description--body Омлет с лососем и мясом
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   280  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food2.jpg" alt="picture")
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                               span.offer__item-description--header 300ккал 
                                span.offer__item-description--body Омлет с мясом и красной икрой
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   300  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food1.jpg" alt="picture")
    section.border-top
        .container-sm
            .editable-part.editable-part--left-icon
                .icon.icon-leg
                h2 Ужин
                p Завтрак — самый важный приём пищи, но им многие пренебрегают из-за недостатка времени или отсутствия аппетита. С нашими ароматными и красивыми завтраками у вас не будет проблем с аппетитом, а вместо готовки можно заняться утренней зарядкой.
        .container-md 
            ul.offer__list.offer__list--none-centered
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 100ккал 
                                span.offer__item-description--body Омлет обыкновенный
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   100  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food3.jpg" alt="picture")
                li.offer__item
                    .offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 180ккал 
                                span.offer__item-description--body Омлет с лососем и мясом
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   300  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food4.jpg" alt="picture")
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                                span.offer__item-description--header 180ккал 
                                span.offer__item-description--body Омлет с лососем и мясом
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   280  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food2.jpg" alt="picture")
                li.offer__item
                    a.offer__item-container
                        .offer__image
                            .offer__item-background
                               span.offer__item-description--header 300ккал 
                                span.offer__item-description--body Омлет с мясом и красной икрой
                                span.offer__item-description--price
                                    .icon.icon-dish-white
                                    span.price-offer 
                                        i   300  
                                        i.price-offer--small
                                            b руб
                            img.offer__picture(src="images/food1.jpg" alt="picture")
    section.promo.promo--adv-2
        .container-sm            
            .promo__inner
                .promo__text    
                    span.promo__name Уникальное предложение от IRONCHEF!
                    p.promo__info 
                        |   Оставь видеоотзыв в нашей группе Вконтакте
                        br
                        |   и получи скидку 
                        b   10% на 3 месяца!
            a.button.button--red.button--text-uppercase(href="../obchee-menu.html") смотреть меню     