extends sections/layout
block title
    title Otzyvy
block main 
    section.header--dynamic
        include sections/header
    section.promo.promo--adv
        .container-xs
            .promo__inner
                .promo__text    
                    span.promo__name Уникальное предложение от IRONCHEF!
                    p.promo__info 
                    |   Оставь видеоотзыв в нашей группе Вконтакте
                    br
                    |   и получи скидку 
                    b 10% на 3 месяца!
            a.button.button--red.button--text-uppercase(href="../obchee-menu.html") смотреть меню    