extends sections/layout
block title
    title sportivnoe-menu
block main 
    section.header--dynamic
        include sections/header
    section.container-md
        .breadcrumb__container
            ul.breadcrumb
                li.breadcrumb__item
                    a.breadcrumb__link(href="#",title="главная") Главная 
                li.breadcrumb__divider ●  
                li.breadcrumb__item
                    span.breadcrumb__link.breadcrumb__link--none Спортивное меню
    section.container-sm
        h1.title.title__content-section Спортивное меню
    section.container-sm
        .textarea
            p Вы регулярно тренируетесь в спортзале или занимаетесь каким-либо видом спорта? Сбалансированные рационы 5-разового питания помогут вам получить максимальный результат от тренировок!
    .container-md
        ul.offer__list
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал]  
                        img.offer__picture(src='images/man3.jpg' alt='picture')  
                    .button.button--red.button--text-uppercase.button--long(href="#") cтальной качок
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал]
                        img.offer__picture(src="images/man1.jpg" alt="picture")   
                    .button.button--red.button--text-uppercase.button--long(href="#") гора мыщц
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал]
                        img.offer__picture(src="images/man2.jpg" alt="picture")   
                    .button.button--red.button--text-uppercase.button--long(href="#") рельеф
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="images/woman1.jpg" alt="picture")   
                    .button.button--red.button--text-uppercase.button--long(href="#") супер сушка
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="images/woman2.jpg" alt="picture")    
                    .button.button--red.button--text-uppercase.button--long(href="#") тело мечты
    section
        .container-xs
            .editable-part
                h2 Зачем нужен готовый рацион?
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
            .editable-part.editable-part__info
                p
                    b Плюсы готового рациона:
                ul
                    li  Не нужно считать калории и ломать голову, что купить и приготовить.
                    li  Правильное питание позволит не навредить себе в режиме максимальных нагрузок.
    section.promo.promo--adv-2
        .container-sm
            .promo__inner
                .promo__text    
                    span.promo__name Уникальное предложение от IRONCHEF!
                    p.promo__info 
                        |   Оставь видеоотзыв в нашей группе Вконтакте
                        br
                        |   и получи скидку 
                        b   10% на 3 месяца!
            a.button.button--red.button--text-uppercase(href="../obchee-menu.html") смотреть меню     