section.about
        ul.about__list
            li.about__item
                .about__icon-container
                    .icon.icon-burger.icon-container--size
                .about__text-container
                    h3.about__header Программы питания на любой вкус
                    p.about__description  с учетом ваших пожеланий, особенностей, целей и образа жизни 
            li.about__item
                .about__icon-container
                    .icon.icon-flower.icon-container--size
                .about__text-container
                    h3.about__header Полезно, вкусно, разнообразно
                    p.about__description  Вкусно, как в ресторане! Полезно, как мамины брокколи! Все рационы составлены диетологом 
            li.about__item
                .about__icon-container
                    .icon.icon-car.icon-container--size
                .about__text-container
                    h3.about__header Доставка в любое время
                    p.about__description  Вам некогда принять курьера днем? Мы доставляем еду 24 часа в сутки!
            li.about__item
                .about__icon-container
                    .icon.icon-dish.icon-container--size
                .about__text-container
                    h3.about__header Без забот
                    p.about__description  Мы привозим готовую еду — вам остается только разогреть!     