section.aboutUs
    .container-sm
        .aboutUs__container-title
            .aboutUs__title
            span.aboutUs__text спонсор вашего сободного времени
        .aboutUs__decription
            .aboutUs__decription-col
                h3.aboutUs__decription-title Что такое Ironchef?
                p.aboutUs__decription-text Мы — команда профессиональных поваров и спортсменов, объединённая идеей здорового образа жизни и правильного питания.
            .aboutUs__decription-col
                h3.aboutUs__decription-title Что мы делаем?
                p.aboutUs__decription-text Готовим вкусные и полезные блюда, разработанные специально для тех, кто хочет питаться правильно и с удовольствием, но не хочет тратить всё свободное время на приготовление еды.