.contacts
                a.contact(href="tel:+891501875631")
                    i.fa.fa-mobile.contact__icon(aria-hidden="true")
                    span.contact__text 891501875631
                    
                a.contact(href="mailto:info@maail.ru")
                    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
                    span.contact__text info@maail.ru
                    
                a.facebook-icon(href="facebook.com")
                    i.fa.fa-facebook(aria-hidden="true")
                    