section.goods    
    .container-sm
        .goods__inner
            .goods__text    
                span.goods__name Что я получу, питаясь у IRONCHEF?
            ul.goods__list
                li.goods__item
                    .goods__icon-container
                        .icon.icon-arm
                    .goods__text-container
                        h3.goods__header Спортивный результат
                        p.goods__description  Ваши тренировки принесут именно те плоды, на которые вы рассчитываете
                li.goods__item
                    .goods__icon-container
                        .icon.icon-women
                    .goods__text-container
                        h3.goods__header Идеальная фигура
                        p.goods__description  Ваше тело с каждм днем будет приближаться к своей лучшей форме 
                li.goods__item
                    .goods__icon-container
                        .icon.icon-heart
                    .goods__text-container
                        h3.goods__header Бодрость и здоровье
                        p.goods__description  Мы — то, что мы едим. Питаясь здоровой пищей, вы станете сильнее, бодрее и активнее.
                li.goods__item
                    .goods__icon-container
                        .icon.icon-clock
                    .goods__text-container
                        h3.goods__header Свобода
                        p.goods__description  Не нужно искать рецепты, ходить по магазинам, считать калории, готовить еду — все уже готово.          
        a.button.button--red.button--text-uppercase(href="#") Заказать пробный рацион