header.header
    .container-md
        .header__row
            .header__menu
                include nav
            .header__phone
                .phone
                    span.phone__number +7 (800) 000-00-00
                    a.button.header__button.button--red.button--text-uppercase(href="#") Обратный звонок
            .header__logo    
                a.logo(href="#"): span.logo__picture
            
            