section.health
    .container-sm.title
        h1.title__header Меню здорового питания
        p.title__text Мы готовим для людей, у кого отсутствует физическая активность, например, для работающих в офисе. Это оптимальные рационы 3-разового здорового питаниядля достижения ваших целей — похудения или поддержания идеального веса.
    .container-md 
        ul.offer__list
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="../images/food3.jpg" alt="picture")
                    .button.button--green.button--text-uppercase.button--long(href="#") cтальной качок
            li.offer__item
                .offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="../images/food4.jpg" alt="picture")
                    .button.button--green.button--text-uppercase.button--long(href="#") гора мыщц
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="../images/food2.jpg" alt="picture")
                    .button.button--green.button--text-uppercase.button--long(href="#") рельеф
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="../images/food1.jpg" alt="picture")
                    .button.button--green.button--text-uppercase.button--long(href="#") супер сушка
            li.offer__item
                .offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="../images/food5.jpg" alt="picture")
                    .button.button--green.button--text-uppercase.button--long(href="#") тело мечты