section.hero
    .container-sm.title
        h1.title__header Спортивное меню
        p.title__text Вы регулярно тренируетесь в спортзале или занимаетесь каким-либо видом спорта? Сбалансированные рационы 5-разового питания помогут вам получитьмаксимальный результат от тренировок!
    .container-md    
        ul.offer__list
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал]  
                        img.offer__picture(src='images/man3.jpg' alt='picture')  
                    .button.button--red.button--text-uppercase.button--long(href="#") cтальной качок
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал]
                        img.offer__picture(src="images/man1.jpg" alt="picture")   
                    .button.button--red.button--text-uppercase.button--long(href="#") гора мыщц
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал]
                        img.offer__picture(src="images/man2.jpg" alt="picture")   
                    .button.button--red.button--text-uppercase.button--long(href="#") рельеф
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="images/woman1.jpg" alt="picture")   
                    .button.button--red.button--text-uppercase.button--long(href="#") супер сушка
            li.offer__item
                a.offer__item-container
                    .offer__image
                        .offer__item-background
                            span.offer__item-description [4000ккал] 
                        img.offer__picture(src="images/woman2.jpg" alt="picture")    
                    .button.button--red.button--text-uppercase.button--long(href="#") тело мечты

                    
        