section.individual-programm
    .container-sm
        .individual-programm__decription
            .individual-programm__decription-col.decription-col--left
                p.individual-programm__decription-text Наши специалисты составят вам индивидуальную программу питания с учетом ваших пожеланий, особенностей, целей и образа жизни. Ironchef подобрал для вас лучших диетологов всея Руси. Несколько слов о наших диетологах. Наши специалисты составят вам индивидуальную программу питания с учетом ваших пожеланий, особенностей, целей и образа жизни. Ironchef подобрал для вас лучших диетологов всея Руси. Несколько слов о наших диетологах. Наши специалисты составят вам индивидуальную программу питания с учетом ваших пожеланий, особенностей, целей и образа жизни. Ironchef подобрал для вас лучших диетологов всея Руси.
            .individual-programm__decription-col.decription-col--right
                h3.individual-programm__decription-title ИНДИВИДУАЛЬНАЯ ПРОГРАММА ПИТАНИЯ
                ul.individual-programm__list
                    li.individual-programm__item
                        .individual-programm__icon-container
                            .icon.icon-dumbell
                        .individual-programm__text-container
                            p.individual-programm__content  для спортсменов
                            
                    li.individual-programm__item
                        .individual-programm__icon-container
                            .icon.icon-nose
                        .individual-programm__text-container
                            p.individual-programm__content  для аллергиков
                            
                    li.individual-programm__item
                        .individual-programm__icon-container
                            .icon.icon-stomach
                        .individual-programm__text-container
                            p.individual-programm__content  при заболеваниях желудочно-кишечного тракта
        .worker 
            .worker__inner
                .worker__image
                    img.worker__picture(src="images/dietolog-1.png" alt="picture")
                .worker__text    
                    span.worker__name Сытоедова Снежана,
                    p.worker__info
                    | диетолог института питания РАМН, 
                    br
                    | доктор медицинских наук
            a.button.button--green.button--text-uppercase(href="#") Получить бесплатную консультацию диетолога            
