doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700,700i" rel="stylesheet")
    link(rel="stylesheet",href="css/main.min.css")
    link(href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet")
    
    block script
    
    block title    
        title iron Chief
  body
    .page-wrap
        include form
        .page-content
            block main
        include footer
    
    script(src="bootstrap/tether.min.js")
    script(src="bootstrap/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")
    script(src="bootstrap/bootstrap.min.js")
    script(src="js/main.min.js")
    