.promo
    .container-xs
        .promo__inner
            .promo__text    
                span.promo__name Хотите сами составить себе рацион?
                p.promo__info Вам нужен только завтрак и ужин, потому что обедаете Вы на работе? Вы с удовольствием готовите себе ужины, но заниматься завтраком с утра нет сил? У Ironchef вы можете заказать отдельные приемы пищи или отдельные блюда.
        a.button.button--red.button--text-uppercase(href="#") смотреть меню