section.work
    .container-sm.work__head-container
        .work__icon-container--header   
            .icon.icon-ironchief-white
        .title
            h1.title__header Всего три шага
            p.title__heading до идеального питания без забот
    .container-md    
        ul.work__list
            li.work__item
                .work__text-container
                    h3.work__header Выберите рацион или блюдо
                    p.work__description  Можно заказать полный рацион спортивного или здорового питания, отдельные блюда или приемы пищи (завтрак, ужин)
            li.work__item
                .work__text-container
                    h3.work__header Согласуйте детали с нашим оператором
                    p.work__description Корректируйте рацион при необходимости, выберите удобную схему доставки и оплаты рациона.
            li.work__item
                .work__text-container
                    h3.work__header Ваша еда уже в пути!
                    p.work__description  Мы доставляем готовую еду 24 часа в сутки, в любое удобное вам время!
        .service 
            .service-list
                .service-item
                    .service__header
                        span.service__header-text Пробный день
                    .service__body
                        span.service__body-text Знакомство с Ironchef по специальной цене
                        span.service__body-price 
                            i.body-price--range от 
                            |  1500 
                            i.body-price--range руб.
                        span.service__body-text за день
                    a.button.button--red.button--text-uppercase.button--long(href="#") заказать
                .service-item
                    .service__header
                        span.service__header-text Разовый
                    .service__body
                        span.service__body-text  Цена при заказе блюд на 1-7 дней
                        span.service__body-price 
                            i.body-price--range от
                            |  2500 
                            i.body-price--range руб.
                        span.service__body-text в день
                    a.button.button--red.button--text-uppercase.button--long(href="#") заказать
                .service-item
                    .service__header
                        span.service__header-text Подписка
                    .service__body
                        span.service__body-text При заказе блюд на 3 и более недель
                        span.service__body-price 
                            i.body-price--range от
                            |  2500 
                            i.body-price--range руб.
                        span.service__body-text в день
                    a.button.button--red.button--text-uppercase.button--long(href="#") заказать
                .service-item
                    .service__header
                        span.service__header-text Месячный
                    .service__body
                        span.service__body-text При заказе блюд на месяц и более
                        span.service__body-price 
                            i.body-price--range от
                            |  1800 
                            i.body-price--range руб.
                        span.service__body-text в день
                    a.button.button--red.button--text-uppercase.button--long(href="#") заказать
                
            